//Header
.header
	height: 73px
	background-color: #292929
	display: flex
	justify-content: space-between
	align-items: center
	padding:
		right: 370px
		left: 370px

	&-block
		display: flex

		&__icon
			margin:
				left: 7.5px
				right: 7.5px

	&-block2
		display: flex

		&__item
			margin-right: 45px

		&__img
			width: 17px
			margin-right: 4px

		&__text
			color: #ffffff
			font-family: "Source Sans Pro", Semi-Bold
			font-size: 17px
			font-weight: 400