@import "vars"
@import "fonts"
@import "libs"
@import "header"
@import "navigation"
@import "featurePost"
@import "aboutUs"
@import "postsStart"
@import "contactUs"
@import "whyUs"
@import "benefits"
@import "faq"
@import "postNow"
@import "footer"

html
	scroll-behavior: smooth

body
	max-width: 1920px
	min-width: 320px
	margin:
		left: auto
		right: auto
	font-family: 'Lato', sans-serif
	font-weight: 400
	font-size: 14px
	line-height: 1.7
	text-align: center
	color: white

ul
	list-style-type: none

a
	text-decoration: none

	&:hover
		text-decoration: none

h2
	color: #3c3c3c
	font-family: "Montserrat", Extra-Bold
	font-size: 50px
	font-weight: 400

h3
	font-family: "Source Sans Pro"
	font-weight: 700
	line-height: 29.13px
	color: #0d3693
	font-size: 30px

p
	color: #4f4f4f
	font-family: "Source Sans Pro"
	font-size: 19px
	font-weight: 700
	line-height: 29px

button
	width: 234px
	height: 54px
	border-radius: 30px
	background-color: #fa4a33
	outline: none
	border: none
	color: #ffffff
	font-family: "Source Sans Pro"
	font-size: 20px
	font-weight: 400
	line-height: 29.13px










@import "media" // Always at the end
